/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font-family:Miama */
@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');
.miama-font{           
  font-family: 'Miama', sans-serif;
                                                
                                                
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* shared styles */
.container{
    width: 85%;
    margin: 3.5rem auto;
    border-radius: 0.5rem;  
}
.primary-color{
  color:#E6533C;
}
body{
  background-color: black;
  
}
header{
 
  background: linear-gradient(
    0deg,
    rgba(19, 19, 19, 0.747) 0%,
    rgb(30, 30, 30) 50%,
    rgba(1, 1, 1, 0.719) 100%
    );
    background-repeat:
     no-repeat;
   
 
}

/* nav related styles */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title h3 {
  color: #E6533C;
  font-size: 2rem;
  font-style: italic;
  font-weight: 800;
}

.nav-options {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.2rem;
  padding: 0.8rem ;
}

.nav-options > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 ;
  padding: 0;

}

.nav-options ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-options ul > li > a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
}

#home {

  border-radius: 46px;
  border: none;
  font-weight: 600;
  background-color: rgb(230, 83, 60);
  padding: 0.7rem 1rem;
}
.btn-primary{
  color: #FFFFFF;
  background-color: rgb(230, 83, 60); 
  border: none;
  margin-right: 14px;
  border-radius: 2.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 3rem;
}

/* banner related styles */
.banner{
  display: flex;
  align-items: center;
  gap: 160px;
}
.banner-title{
  font-size: 4.87rem;
  line-height: 1;
  font-weight: 800;
  color: #FFFFFF;
}
.shape{
  font-family: 'Miama', sans-serif;
                                                                                 
  font-size: 4.8rem;
  
}
.banner-description{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
.btn-secondary{
  
  color: #FFFFFF;
  background-color: black;
  border: 1px solid #FFFFFF;
  border-radius: 2.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 3rem;
}
.video-badge{
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding:0.5rem 1rem;
  text-align: left;
  position: absolute;
  top:58%;
  left: 82%;

}
#video-badge-number{
  font-size: 2rem;
  font-weight: 800;
  color: #FFFFFF;
}
#video-badge-text{
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
}
.video-badge2{
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding:1rem;
  text-align: left;
  position: absolute;
  top: 110%;
  left: 57%;
  display: flex;
  align-items: center;

}

.circle-shape {
  width: 40px; 
  height: 40px; 
  background-color: #E6533C; 
  border-radius: 50%; 
  margin-right: 15px; 
}
.video-badge2 #video-badge-number2{
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
}